.App {
  text-align: center;
  color: #666666ff;
}

.App-logo {
  animation: App-logo-move 2s ease-in;;
  margin-top: 150px;
  width: 100px;
  height: auto;
}

.App-header {
/*  min-height: 30vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Verdana";
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 3px;
  /*font-size: calc(10px + 2vmin);*/
}

.Paragraphs {

}


@keyframes App-logo-move {
  from {
    transform: translate(0px) rotate(0deg);
  }
  to {
    transform: translate(100px,-100px) rotate(-360deg);
  }
}

.map-view {
  width: 50%;
  height: 500px;
  margin: auto;
}
